body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.container {
  width: 90%;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: rgb(25, 71, 39);
  padding: 15px;
  border-radius: 10px;
}

form {
  display: grid;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  padding: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background: #5fd5fc;
  color: white;
}